# LifyX CODEOWNERS

# Default owner for the entire repository
* @LifyX-Exchange

# Documentation
*.md @LifyX-Exchange

# Spot documentation
/spot/ @LifyX-Exchange

# Perpetual documentation
/perpetuals/ @LifyX-Exchange

# Security policy
SECURITY.md @LifyX-Exchange

# License
LICENSE @LifyX-Exchange
